body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 300px;
    margin: 10px;
    border: solid 1px #CCC; 
}

section img {
    width: 100%
}

section *:not(img) {
    margin: 10px;
}
